@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

* {
  margin: 0;
  text-shadow: 1px 1px 1.4px rgb(247, 247, 247), 0 0 1em rgb(174, 174, 253), 0 0 0.2em blue;
}

ul {
  list-style: none;
}

html,
body {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header,
nav {
  font-family: 'Shrikhand', cursive;
}

header {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.intro-container {
  border: solid 1px black;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr;
  font-style: italic;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.61),
    rgb(11, 23, 194),
    rgb(44, 116, 209),
    yellow,
    rgba(255, 255, 255, 0.61)
  );
}

p {
  font-size: 1.4rem;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  grid-column: 2;
  text-shadow: 1px 1px 2px rgb(247, 247, 247), 0 0 1em blue, 0 0 0.2em blue;
}

.pablo {
  margin-right: 1rem;
  border: solid 5px purple;
}

nav {
  padding: 0.3rem 1.5rem;
  background-color: blue;
  height: 2.5rem;
  display: flex;
  align-items: center;
  color: white;
}

.nav-link {
  color: white;
}

a:visited {
  color: rgb(163, 0, 0);
}

a:link {
  color: black;
}

.main-container {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(60deg, black, orange, yellow, white);
  margin: 0;
}

.item-name {
  font-size: 1.25rem;
}

.item-detail {
  font-size: 1.2rem;
}

.nav-bar {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

li {
  font-size: 1.2rem;
}

.item-overview,
.cart {
  margin: 0;
  max-width: 100vw;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  padding: 1rem 0;
  background-image: url('./images/store.jpeg');
  background-size: cover;
}

.item-overview > ul,
ul.item {
  list-style: none;
  background: linear-gradient(
    30deg,
    rgb(164, 164, 255),
    white,
    rgb(255, 195, 83),
    rgb(248, 137, 137)
  );
  margin: 0.2rem;
}

#lone-item-overview {
  padding-top: 2rem;
  background-image: url('./images/whipped-bacon.webp');
}

#lone-item-overview > ul {
  height: 15vh;
}

.item {
  padding: 1rem;
  border: solid 1px black;
  border-radius: 10px;
  width: 80%;
}

.item-name {
  font-weight: bold;
}

input {
  width: 2rem;
}

form {
  padding-bottom: 0.2rem;
}

form > button:hover,
form > input:hover {
  cursor: pointer;
}

.alert,
.lone-alert {
  padding: 0.25rem;
  position: fixed;
  bottom: 2rem;
  right: 3rem;
  background-color: antiquewhite;
  border: groove rgb(53, 141, 255) 2px;
  height: auto;
}

.lone-alert {
  text-align: center;
}

.overview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart {
  background-image: url('./images/cans.webp');
}

.grand-total {
  margin-top: 1rem;
  background-color: antiquewhite;
  border: groove rgb(44, 116, 209) 2px;
  font-size: 1.8rem;
  padding: 0.25rem;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0.2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > a {
  justify-self: center;
}
